@use './variables' as vars;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: vars.$font-family;
  margin: 0;
  padding: 0;
  background-color: vars.$surface-bg;
  color: vars.$font-color2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}
