$primary-color: #00526C;
$secondary-color: #005671;

$default-font-size: 12px;

$font-color1: #ffffff;
$font-color2: #000000;
$font-family: 'Poppins', sans-serif;

$white: #ffffff;
$black: #000000;

$envLabel: #d21919; 

$input-height: 40px;

$button-height: 36px;

$cancel-button-background-color: #e5e5e5;
$cancel-button-hover-color: #f3efef;
$cancel-button-font-color: #676767;

:root{
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --default-font-size: #{$default-font-size};
    --font-color1: #{$font-color1};
    --font-color2: #{$font-color2};
    --font-family: #{$font-family}; 
    --input-height: #{$input-height};
    --button-height: #{$button-height};
    --cancel-button-background-color: #{$cancel-button-background-color};
    --cancel-button-hover-color: #{$cancel-button-hover-color};
    --cancel-button-font-color: #{$cancel-button-font-color};
}